.app_painel {
    flex: 1;
    height: 100dvh;
    overflow: hidden;
    display: flex;

    background-color: var(--bg);

}

.content_menu {
    width: 220px;
}

.menu {
    background-color: var(--primaria);
    height: 100%;
    padding: 1rem;
    color: var(--text);
}


.menu .iten_menu {
    padding: 10px;
    text-decoration: none;
    color: var(--text);
    border-radius: 10px;
    transition: all .3s ease;
}

.menu .iten_menu span {
    font-size: .8rem;
}

.menu .iten_menu.ative, .menu .iten_menu:hover {
    background-color: var(--primaria-ative);
}


.content_root {
    padding: 1rem;
    display: flex;
    flex: 1;
}

.content_root #root {
    width: 100%;
    max-width: 70%;
    padding: 1rem;
    gap: 2rem;
}

.content_painel {
    background-color: var(--primaria);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
}

.content_box {
    border: 1px solid var(--gold);
    padding: 1rem;
    background-color: #FFF;
    border-radius: 10px;
}

.content_box strong {
    font-weight: 700;
    font-size: .88rem;
}

.price_color {
    color: var(--text);
    font-size: 2rem;
}

.not_iten {
    min-height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .77;
}

.content_cards {
    display: flex;
    align-items: center;
}

.content_cards .card {
    background-color: #EAE4D0;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gold);
}

.content_cards .card span {
    opacity: .7;
}