{% extends 'leyout.html' %}

{% block root %}
<div class="column">
    <strong>Painel</strong>
    <span class="text_size">Resumo do seu negócio, atualizado a cada venda registrada.</span>

</div>

<div class="content_painel column">

    <span class="text_size text_color">FATURAMENTO TOTAL HOJE</span>

    <strong class="price_color">{{ dados.saldo }}</strong>

    <hr>
    <div class="row">
        <span class="text_size text_color">{{ dados.vendas.count() }} vendas registradas</span>
        <span class="text_size text_color">{{ dados.data }}</span>
    </div>
</div>

<div class="content_box column">
    <strong>Últimas vendas</strong>

    {% if dados.vendas %}

    <div class="table">
        <table>
            <thead>
                <tr>
                    <td>PRODUTO</td>
                    <td>QTD</td>
                    <td>TOTAL</td>
                    <td>DATA E HORA</td>
                </tr>
            </thead>
            <tbody>
                {% for venda in dados.vendas %}
                    <tr>
                        <td>{{ venda.nome_produto }}</td>
                        <td>{{ venda.qtd }}</td>
                        <td>{{ venda.total }}</td>
                        <td>{{ venda.criado_em }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
    <div class="not_iten">

        <span class="text_size">Nenhuma venda registrada ainda.</span>

    </div>
    {% endif %}


</div>

{% endblock %}o