{% extends 'leyout.html' %}

{% block root %}
<div class="column">
    <strong>Relatórios</strong>
    <span class="text_size">Veja o desempenho do negócio por período e quais produtos mais dão lucro.</span>
</div>

<form action="" class="row2">
    <div class="entry">
        <span>DATA INÍCIO</span>
        <input type="date" name="data_start" id="" class="input">
    </div>
    <div class="entry">
        <span>DATA FIN</span>
        <input type="date" name="data_end" id="" class="input">
    </div>
    <div class="column">
        <span></span><span></span>
        <button class="button">
            <span>Filtrar</span>
        </button>
    </div>
</form>

<div class="content_cards row2">

    <div class="card column">
        <span class="text_size">LUCRO NO PERÍUDO</span>
        <strong>kz 0,00</strong>
    </div>
    <div class="card column">
        <span class="text_size">FATURAMENTO NO PERÍUDO</span>
        <strong>kz 0,00</strong>
    </div>
    <div class="card column">
        <span class="text_size">VENDAS NO PERÍUDO</span>
        <strong>0</strong>
    </div>
    <div class="card column">
        <span class="text_size">TECKET MÉDIA</span>
        <strong>kz 0,00</strong>
    </div>

</div>

<div class="content_box">
    <strong>Últimas vendas</strong>

    {% if 0==1 %}

    <div class="table">
        <table>
            <thead>
                <tr>
                    <td>PRODUTO</td>
                    <td>QTD</td>
                    <td>SUBTOTAL</td>
                    <td>DATA</td>
                </tr>
            </thead>
        </table>
    </div>

    {% else %}
    <div class="not_iten">

        <span class="text_size">Nenhuma venda registrada ainda.</span>

    </div>
    {% endif %}


</div>

{% endblock %}o